<div class="space-y-2">
  <div
    x-data="{ activeAccordion: true }"
    :aria-expanded="activeAccordion"
    class="group"
  >
    <button
      x-on:click="activeAccordion = !activeAccordion"
      aria-controls="accordion-panel-1"
      class="button group-aria-expanded:button-active"
    >
      Lorem ipsum dolor sit amet consectetur adipisicing elit.
    </button>

    <section
      id="accordion-panel-1"
      aria-labelledby="accordion-header-1"
      class="hidden group-aria-expanded:block"
    >
      <div class="content">
        Lorem ipsum dolor sit amet consectetur adipisicing elit.
      </div>
    </section>
  </div>

  <div
    x-data="{ activeAccordion: false }"
    :aria-expanded="activeAccordion"
    class="group"
  >
    <button
      x-on:click="activeAccordion = !activeAccordion"
      aria-controls="accordion-panel-2"
      class="button group-aria-expanded:button-active"
    >
      Lorem ipsum dolor sit amet consectetur adipisicing elit.
    </button>

    <section
      id="accordion-panel-2"
      aria-labelledby="accordion-header-2"
      class="hidden group-aria-expanded:block"
    >
      <div class="content">
        Lorem ipsum dolor sit amet consectetur adipisicing elit.
      </div>
    </section>
  </div>
</div>
