<script defer src="https://unpkg.com/@alpinejs/collapse@latest/dist/cdn.min.js"></script>

<script defer src="https://unpkg.com/alpinejs@latest/dist/cdn.min.js"></script>

<div x-data="{ activeAccordion: 0 }" class="space-y-2">
  <div class="space-y-2">
    <button
      @click="activeAccordion = activeAccordion === 0 ? false : 0"
      :class="{ 'text-indigo-600': activeAccordion === 0 }"
      class="underline"
    >
      Accordion 1
    </button>

    <div x-cloak x-collapse x-show="activeAccordion === 0">
      <div>
        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Autem non, sequi aliquam cumque
        quos sed tempora hic nisi repudiandae accusantium doloremque nihil sapiente explicabo? Ipsam
        autem repudiandae velit doloremque obcaecati facere ullam voluptates quasi architecto
        delectus quo laudantium qui, eos magni. Minus unde quam quasi mollitia nulla ab voluptatem
        consequatur?
      </div>
    </div>
  </div>

  <div class="space-y-2">
    <button
      @click="activeAccordion = activeAccordion === 1 ? false : 1"
      :class="{ 'text-indigo-600': activeAccordion === 1 }"
      class="underline"
    >
      Accordion 2
    </button>

    <div x-cloak x-collapse x-show="activeAccordion === 1">
      <div>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sint, officia maiores. Fuga nihil
        sunt itaque iusto sed sapiente? Beatae, impedit inventore tempore esse provident unde?
      </div>
    </div>
  </div>
</div>
