<script
  defer
  src="https://unpkg.com/alpinejs-desktop-notify@latest/dist/notifications.min.js"
></script>

<script defer src="https://unpkg.com/alpinejs@latest/dist/cdn.min.js"></script>

<div class="space-y-2">
  <div
    x-data="{ title: 'You have a new message', body: 'How are you today?' }"
    class="space-y-2"
  >
    <input x-model="title" type="text" placeholder="Title" class="w-full" />

    <textarea
      x-model="body"
      placeholder="Body"
      class="w-full align-top"
    ></textarea>

    <button x-data @click="$notify({ title, body })" class="underline">
      Dynamic
    </button>
  </div>

  <button
    x-data
    @click="$notify({
      title: 'You have a new message',
      body: 'How are you today?'
    })"
    class="underline"
  >
    Standard
  </button>
</div>
