<script defer src="https://unpkg.com/alpinejs-notify@latest/dist/notifications.min.js"></script>

<script defer src="https://unpkg.com/alpinejs@latest/dist/cdn.min.js"></script>

<div x-data>
  <div id="topRight" class="fixed right-4 top-4 max-w-xs space-y-2"></div>
  <div id="bottomLeft" class="fixed bottom-4 left-4 max-w-xs space-y-2"></div>

  <div class="flex gap-2">
    <button
      @click="$notify('Nihil distinctio suscipit iste impedit magnam eius iure culpa mollitia tenetur', {
      wrapperId: 'bottomLeft',
      templateId: 'alertStandard',
      autoRemove: 3000
    })"
      class="underline"
    >
      Standard
    </button>

    <button
      @click="$notify('Earum aliquid quaerat officiis.', {
        wrapperId: 'bottomLeft',
        templateId: 'alertClose',
      })"
      class="underline"
    >
      Dismiss
    </button>

    <button
      @click="$notify('Lorem ipsum dolor sit amet consectetur adipisicing elit. Optio, natus.', {
      wrapperId: 'topRight',
      templateId: 'alertAnimate',
      autoClose: 3000,
      autoRemove: true
    })"
      class="underline"
    >
      Animate
    </button>
  </div>

  <template id="alertStandard">
    <div role="alert" class="bg-gray-100 p-4">{notificationText}</div>
  </template>
</div>

<template id="alertClose">
  <div x-data role="alert" class="bg-gray-100 p-4 data-[notify-show=false]:hidden">
    {notificationText}

    <button @click="$root.setAttribute('data-notify-show', false)" class="underline">Close</button>
  </div>
</template>

<template id="alertAnimate">
  <div
    x-data
    role="alert"
    class="data-[notify-show=true]:animate-slide-in data-[notify-show=false]:animate-slide-out bg-gray-100 p-4"
  >
    {notificationText}

    <button @click="$root.setAttribute('data-notify-show', false)" class="underline">Close</button>
  </div>
</template>
