<form
  @submit.prevent
  x-data="{ contactName: '', contactAge: '', contactMessage: '', contactTerms: false }"
>
  <div
    x-data="{ required: false }"
    @error="required = !$json($event.detail).required"
  >
    <label for="contactName">Name</label>

    <input
      type="text"
      id="contactName"
      x-model="contactName"
      x-validation.required="contactName"
    />

    <span x-show="required">Need a name</span>
  </div>

  <div
    x-data="{ minAge: false, maxAge: false }"
    @error="
      minAge = !$json($event.detail).min
      maxAge = !$json($event.detail).max
    "
  >
    <label for="contactAge">Age</label>

    <input
      type="number"
      id="contactAge"
      x-model="contactAge"
      x-validation.min.18.max.24="contactAge"
    />

    <span x-show="minAge"> Must be at least 18 years old </span>

    <span x-show="maxAge"> Can't be older than 24 years old </span>
  </div>

  <div
    x-data="{ minLetters: false, maxLetters: false }"
    @error="
      minLetters = !$json($event.detail).minLength
      maxLetters = !$json($event.detail).maxLength
    "
  >
    <label for="contactMessage">Message</label>

    <textarea
      id="contactMessage"
      x-model="contactMessage"
      x-validation.min:length.10.max:length.50="contactMessage"
    ></textarea>

    <span x-show="minLetters"> Must be at least 10 characters </span>

    <span x-show="maxLetters"> Can't be more than 50 characters </span>
  </div>

  <div
    x-data="{ isAccepted: false }"
    @error="isAccepted = !$json($event.detail).checked"
  >
    <label for="contactTerms">Terms</label>

    <input
      type="checkbox"
      id="contactTerms"
      x-model="contactTerms"
      value="true"
      x-validation.checked="contactTerms"
    />

    <span x-show="isAccepted">Must accept</span>
  </div>

  <button>Submit</button>
</form>

<style>
  [x-validation-valid='false'] {
    border-color: red;
  }

  [x-validation-valid='true'] {
    border-color: green;
  }
</style>
