<script
  defer
  src="https://unpkg.com/alpinejs-form-captcha@latest/dist/captcha.min.js"
></script>

<script defer src="https://unpkg.com/alpinejs@latest/dist/cdn.min.js"></script>

<form @submit.prevent x-data="{ inputName: '' }" class="space-y-2">
  <input
    type="text"
    x-model="inputName"
    placeholder="Lorem, ipsum dolor sit amet consectetur adipisicing elit. Adipisci reprehenderit architecto sed magnam quaerat accusantium."
    class="w-full"
  />

  <div
    x-form-captcha
    x-form-captcha-img="https://images.unsplash.com/photo-1598894000396-bc30e0996899?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=400&q=80"
  ></div>

  <button class="underline disabled:opacity-50">Submit</button>
</form>

<style>
  .fvImg {
    height: 200px;
    object-fit: cover;
    pointer-events: none;
    width: 200px;
  }

  .fvActions {
    position: relative;
    z-index: 10;
  }

  .fvPrev,
  .fvNext {
    text-decoration: underline;
  }
</style>
