<div x-data="{ productPrice: 49999 }">
  <input
    x-model="productPrice"
    type="text"
    placeholder="Lorem ipsum dolor, sit amet consectetur adipisicing elit..."
    class="form-input"
  />

  <div class="content">
    <ul>
      <li x-money="productPrice" data-lang="ja-JP" data-currency="JPY"></li>
      <li x-money="productPrice" data-lang="de-DE" data-currency="EUR"></li>
      <li x-money="productPrice" data-lang="en-UK" data-currency="GBP"></li>
      <li x-money="productPrice" data-lang="en-US" data-currency="USD"></li>
    </ul>
  </div>
</div>
