<script defer src="https://unpkg.com/alpinejs@latest/dist/cdn.min.js"></script>

<textarea
  x-data="{
    resizeTextarea() {
      $el.style.height = 'auto';
      $el.style.height = `${$el.scrollHeight}px`
    }
  }"
  x-init="resizeTextarea"
  @input="resizeTextarea"
  rows="4"
  placeholder="Lorem, ipsum dolor sit amet consectetur adipisicing elit. Accusantium quos aliquid, eligendi minima consequatur modi, ea reprehenderit atque doloribus veritatis suscipit fugiat commodi veniam cum..."
  class="w-full"
></textarea>
