<script defer src="https://unpkg.com/alpinejs-masonry@latest/dist/masonry.min.js"></script>

<script defer src="https://unpkg.com/alpinejs@latest/dist/cdn.min.js"></script>

<ul x-data x-masonry class="grid grid-cols-3 gap-4">
  <li class="h-64 bg-gray-100"></li>
  <li class="h-32 bg-gray-100"></li>
  <li class="h-16 bg-gray-100"></li>
  <li class="h-72 bg-gray-100"></li>
  <li class="h-48 bg-gray-100"></li>
  <li class="h-32 bg-gray-100"></li>
  <li class="h-24 bg-gray-100"></li>
  <li class="h-80 bg-gray-100"></li>
  <li class="h-48 bg-gray-100"></li>
</ul>
