<div
  x-data="{ inputName: $persist('') }"
  @persist:delete.window="inputName = 'Deleted'"
>
  <input
    x-model="inputName"
    type="text"
    placeholder="Lorem ipsum dolor, sit amet consectetur adipisicing elit..."
    class="form-input"
  />

  <div class="flex flex-wrap gap-2 mt-2">
    <button @click="alert($persistGet('inputName'))" class="button">
      Alert Name
    </button>

    <button @click="$persistDelete('inputName')" class="button">
      Delete Name
    </button>
  </div>
</div>
