<div
  x-data="{ inputName: $persist('') }"
  x-on:storage-delete.window="inputName = $storage('inputName')"
>
  <input
    x-model="inputName"
    class="w-full p-3 border-2 border-black rounded-lg"
    type="text"
  />

  <div class="flex flex-wrap gap-4 mt-4">
    <button
      x-on:click="alert($storage('inputName'))"
      class="block p-3 text-white bg-black rounded-lg"
    >
      Alert Name
    </button>

    <button
      x-on:click="$storage('inputName', 'delete')"
      class="block p-3 text-white bg-black rounded-lg"
    >
      Delete Name
    </button>
  </div>
</div>
