<div x-data>
  <div
    id="notificationWrapperTopRight"
    class="fixed top-4 right-4 space-y-2"
  ></div>

  <div
    id="notificationWrapperBottomLeft"
    class="fixed bottom-4 left-4 space-y-2"
  ></div>

  <button
    @click="$notify('Nihil distinctio suscipit iste impedit magnam eius iure culpa mollitia tenetur', {
      wrapperId: 'notificationWrapperBottomLeft',
      templateId: 'notificationAlert',
      autoRemove: 3000
    })"
  >
    Standard (Bottom Left)
  </button>

  <button
    @click="$notify('Earum aliquid quaerat officiis.', {
      wrapperId: 'notificationWrapperBottomLeft',
      templateId: 'notificationAlertClose',
    })"
  >
    Close Button (Bottom Left)
  </button>

  <button
    @click="$notify('Lorem ipsum dolor, sit amet consectetur adipisicing elit', {
    wrapperId: 'notificationWrapperTopRight',
    templateId: 'notificationAlertAnimated',
    autoClose: 5000,
    autoRemove: true
  })"
  >
    Animate (Top Left)
  </button>

  <template id="notificationAlert">
    <div role="alert">{notificationText}</div>
  </template>

  <template id="notificationAlertClose">
    <div x-data role="alert">
      {notificationText}

      <button @click="$root.setAttribute('data-notify-show', false)">
        Close
      </button>
    </div>
  </template>
</div>

<template id="notificationAlertAnimated">
  <div
    role="alert"
    class="data-[notify-show=true]:animate-slide-in data-[notify-show=false]:animate-slide-out"
  >
    {notificationText}
  </div>
</template>
