<div
  x-data="{
      items: [
        { title: 'Post D' },
        { title: 'Post A' },
        { title: 'Post C' },
        { title: 'Post B' }
      ],
      type: 'asc.title'
    }"
  class="space-y-2"
>
  <select x-model="type" class="w-full">
    <option value="asc.title">Asc</option>
    <option value="desc.title">Desc</option>
  </select>

  <ol x-sort.items="type" class="list-decimal space-y-2 list-inside">
    <template x-for="item in items">
      <li x-text="item.title"></li>
    </template>
  </ol>
</div>
