<script defer src="https://unpkg.com/@alpinejs/persist@latest/dist/cdn.min.js"></script>

<script defer src="https://unpkg.com/alpinejs-persist-extended@latest/dist/storage.min.js"></script>

<script defer src="https://unpkg.com/alpinejs@latest/dist/cdn.min.js"></script>

<div
  x-data="{ firstName: $persist(''), lastName: $persist(''), hasDelete: false }"
  x-init="$watch('hasDelete', () => setTimeout(() => (hasDelete = false), 3000))"
  @persist:delete="hasDelete = true"
  class="space-y-2"
>
  <div class="flex items-center gap-2">
    <input type="text" x-model="firstName" placeholder="First name..." class="w-full" />

    <button @click="alert($persistGet('firstName'))" class="underline">Alert</button>

    <button @click="$persistDelete('firstName')" class="underline">Delete</button>
  </div>

  <div class="flex items-center gap-2">
    <input type="text" x-model="lastName" placeholder="Last name..." class="w-full" />
    <button @click="alert($persistGet('lastName'))" class="underline">Alert</button>

    <button @click="$persistDelete('lastName')" class="underline">Delete</button>
  </div>

  <div x-cloak x-show="hasDelete" role="alert" class="text-red-600">Deleted from storage!</div>
</div>
