<script
  defer
  src="https://unpkg.com/@alpinejs/collapse@latest/dist/cdn.min.js"
></script>

<script defer src="https://unpkg.com/alpinejs@latest/dist/cdn.min.js"></script>

<div x-data="{ activeTab: 'all' }" class="space-y-2">
  <ul class="flex gap-2">
    <li>
      <a
        @click.prevent="activeTab = 'all'"
        :class="{ 'text-indigo-600': activeTab === 'all' }"
        class="underline"
        href="#all"
      >
        All
      </a>
    </li>

    <li>
      <a
        @click.prevent="activeTab = 'details'"
        :class="{ 'text-indigo-600': activeTab === 'details' }"
        class="underline"
        href="#details"
      >
        Details
      </a>
    </li>

    <li>
      <a
        @click.prevent="activeTab = 'specs'"
        :class="{ 'text-indigo-600': activeTab === 'specs' }"
        class="underline"
        href="#specs"
      >
        Specs
      </a>
    </li>

    <li>
      <a
        @click.prevent="activeTab = 'reviews'"
        :class="{ 'text-indigo-600': activeTab === 'reviews' }"
        class="underline"
        href="#reviews"
      >
        Reviews
      </a>
    </li>
  </ul>

  <div class="space-y-2">
    <div
      x-cloak
      x-data="{ activeAccordion: false }"
      x-show="activeTab === 'details' || activeTab === 'all'"
      class="space-y-2"
    >
      <button
        @click="activeAccordion = !activeAccordion"
        :class="{ 'text-indigo-600': activeAccordion }"
        class="underline"
      >
        Details #1
      </button>

      <div x-cloak x-collapse x-show="activeAccordion">
        <div>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</div>
      </div>
    </div>

    <div
      x-cloak
      x-data="{ activeAccordion: false }"
      x-show="activeTab === 'specs' || activeTab === 'all'"
      class="space-y-2"
    >
      <button
        @click="activeAccordion = !activeAccordion"
        :class="{ 'text-indigo-600': activeAccordion }"
        class="underline"
      >
        Specs #1
      </button>

      <div x-cloak x-collapse x-show="activeAccordion">
        <div>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</div>
      </div>
    </div>

    <div
      x-cloak
      x-data="{ activeAccordion: false }"
      x-show="activeTab === 'specs' || activeTab === 'all'"
      class="space-y-2"
    >
      <button
        @click="activeAccordion = !activeAccordion"
        :class="{ 'text-indigo-600': activeAccordion }"
        class="underline"
      >
        Specs #2
      </button>

      <div x-cloak x-collapse x-show="activeAccordion">
        <div>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</div>
      </div>
    </div>

    <div
      x-cloak
      x-data="{ activeAccordion: false }"
      x-show="activeTab === 'reviews' || activeTab === 'all'"
      class="space-y-2"
    >
      <button
        @click="activeAccordion = !activeAccordion"
        :class="{ 'text-indigo-600': activeAccordion }"
        class="underline"
      >
        Reviews #1
      </button>

      <div x-cloak x-collapse x-show="activeAccordion">
        <div>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</div>
      </div>
    </div>
  </div>
</div>
