<script defer src="https://unpkg.com/alpinejs-manage@latest/dist/manage.min.js"></script>

<script defer src="https://unpkg.com/alpinejs@latest/dist/cdn.min.js"></script>

<div x-data class="space-y-2">
  <div class="space-y-2">
    <strong> First </strong>

    <button @click="$manage('#targetEl').fullName = 'Eric Green'" class="underline">
      Change Name
    </button>
  </div>

  <div class="space-y-2">
    <strong>Second</strong>

    <div x-data="{ fullName: 'Peter Clapton' }" id="targetEl">
      <span x-text="fullName"></span>
    </div>
  </div>
</div>
