<script defer src="https://unpkg.com/alpinejs-head@latest/dist/head.min.js"></script>

<script defer src="https://unpkg.com/alpinejs@latest/dist/cdn.min.js"></script>

<script x-data x-head.json type="application/json">
  {
    "title": "Alpine JS Head - Title",
    "meta": [
      {
        "name": "description",
        "content": "Alpine JS Head - Description"
      }
    ]
  }
</script>

<div
  x-data="{ headTitle: 'Alpine JS Head - Title', metaDescription: 'Alpine JS Head - Description' }"
  x-head.title="headTitle"
  x-head.meta.description="metaDescription"
  class="space-y-2"
>
  <input type="text" x-model="headTitle" class="w-full" />

  <textarea x-model="metaDescription" class="w-full"></textarea>

  <div class="flex gap-2">
    <button @click="$head('title', '🌟NEW🌟 Alpine JS Head - Title')" class="underline">
      Update title
    </button>

    <button
      @click="$head('meta.description', '🌟NEW🌟 Alpine JS Head - Description')"
      class="underline"
    >
      Update description
    </button>
  </div>
</div>
