<script
  defer
  src="https://unpkg.com/alpinejs-component@latest/dist/component.min.js"
></script>

<script defer src="https://unpkg.com/alpinejs@3.x.x/dist/cdn.min.js"></script>

<style title="normalize">
  * {
    box-sizing: border-box;
  }
</style>

<style title="person">
  .person-card {
    border-radius: 0.25rem;
    border: 1px solid rgb(229 231 235);
    height: 100%;
    padding: 1rem;
  }

  .person-card__name {
    font-size: 1.25rem;
  }

  .person-card__age {
    font-size: 0.85rem;
    vertical-align: top;
  }

  .person-card__skills {
    list-style-position: inside;
    margin: 1rem 0 0;
    padding: 0;
  }
</style>

<div
  x-data="{
    people: [
      { name: 'Albert Mayer', age: '44', skills: ['JavaScript', 'CSS'] },
      { name: 'John Collins', age: '28', skills: ['Laravel', 'MySQL', 'jQuery'] },
      { name: 'Eric Green', age: '36', skills: ['Tailwind CSS', 'Alpine JS', 'jQuery'] },
      { name: 'Peter Clapton', age: '20', skills: ['Ruby on Rails'] },
    ]
  }"
>
  <ul class="grid grid-cols-2 items-stretch gap-4">
    <template x-for="person in people">
      <x-component
        template="person"
        styles="normalize,person"
        x-data="{ item: person }"
      ></x-component>
    </template>
  </ul>
</div>

<template id="person">
  <li class="person-card">
    <strong>
      <span x-text="item.name" class="person-card__name"></span>
      <span class="person-card__age"> (<span x-text="item.age"></span>) </span>
    </strong>

    <ul class="person-card__skills">
      <template x-for="skill in item.skills">
        <li x-text="skill"></li>
      </template>
    </ul>
  </li>
</template>
